
   
  .product-conatiner {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
   
  .product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
   
  .product-title {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
   
  .product-details {
    margin-bottom: 15px;
  }
   
  .product-detail {
    margin-bottom: 5px;
  }
   
  .product-price,
  .offer-price {
    font-weight: bold;
  }
   
  .card-text {
    margin-bottom: 10px;
  }
   
  .add-to-cart-btn {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
   
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }