.wishlist-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .wishlist-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  .wishlist-list {
    list-style: none;
    padding: 0;
  }
  .wishlist-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .wishlist-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    object-fit: cover;
    border-radius: 4px;
  }
  .wishlist-item span {
     display: flex;
    color: #333;
  }
  .wishlist-remove-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  .wishlist-remove-button:hover {
    color: red;
  }
  